{% extends "base.html" %}
{% block content %}
<div class="hometext">This is real wealt </div>
<!--<div class="cat"><img src="/static/cat.png"></div>
<div class="burns"><img src="/static/Mr_Burns.png"></div>
<div class="our_vision">"We are the team behind the evil website. Our goal is to make displaying csv files of bills accessible for everyone. Our vision is that everyone in the next five or a hundred years will start using our bill displaying website. Shout out to Larry!"</div>-->
<div class="bananatree"><img src="/static/Bananatree.png"></div>
<div class="unbanana"><img src="/static/Bananasingl.png"></div>
<div class="fewbanana"><img src="/static/Bananaplurl.png"></div>
<div class="our_monkey_vision">We are the team behind the simple bill website. Our goal is to make displaying csv files of bills as easy as possbile. Even monkeys could do it, if they wanted to.</div>
<div class="monkcar"><img src="/static/Monkeycar.png"></div>
{% endblock %}