{% extends "base.html" %}
{% block content %}
<div class="hometext">This is real wealt </div>
<!--<img class="cat" src="/static/cat.png">
<img class="burns" src="/static/Mr_Burns.png">
<div class="our_vision">"We are the team behind the evil website. Our goal is to make displaying csv files of bills accessible for everyone. Our vision is that everyone in the next five or a hundred years will start using our bill displaying website. Shout out to Larry!"</div>-->
<img class="bananatree" src="/static/Bananatree.png">
<img class="unbanana" src="/static/Bananasingl.png">
<img class="fewbanana" src="/static/Bananaplurl.png">
<div class="our_monkey_vision">We are the team behind the simple bill website. Our goal is to make displaying csv files of bills as easy as possbile. Even monkeys could do it, if they wanted to.</div>
<img class="monkcar" src="/static/Monkeycar.png">
{% endblock %}