{% extends "base.html" %}
{% block content %}
<form action="/view" method="post">
    <div>Chart type:</div>
    <select name="ChartType" id="Type">
        <option value="Histogram">Histogram</option>
        <option value="Pie">Pie</option>
    </select>
    <div>Data type:</div>
    <select name="DataType" id="Type">
        <option value="1YearAllMonth1Data">1 Year and all months but 1 data</option>
        <option value="1Year1MonthAllData">1 Year and 1 month but all data</option>
    </select>
    <div>Year:</div>
    <select name="Year" id="years">
        {% for year in years %}
            <option value="{{ year.Year }}">{{ year.Year }}</option>
        {% endfor %}
    </select>
    <!--if allmonth-->
    <select name="Bill" id="bill">
        <option value="Sum">Sum</option>
        <option value="Electric">Electricity</option>
        <option value="Water">Water</option>
        <option value="Gas">Gas</option>
        <option value="Internet">Internet</option>
    </select>
    <!--if 1month-->
    <select name="Month" id="months">
        {% for month in months %}
            <option value="{{ month.Month }}">{{ month.Month }}</option>
        {% endfor %}
    </select>
    <button type="submit">Upload</button>
</form>
<img src="{{ url_for('static', filename='dataplot.png') }}">
{% endblock %}